*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  border: 1px solid grey;
  width: 75%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

.nav-left, .nav-right{
  height: 100%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
}

header span{
  padding: 30px;

}

header button{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;

}

#button-sign{
  background-color: grey;
  font-weight: bold;
}

#button-get{
  background-color: black;
  color: white;
}

.nav-left img{

  height: 30px;
}

#d1{
  position: relative;
}

.feat{
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  min-width: 500px;
  position: absolute;
  left: 20px;
  top: 100px;
  display: none;
}

.feat ul li{
  padding: 10px;
  list-style-type: none;
}

#d2{
  position: relative;
}

.plans{
  border: 1px solid black;
  border-radius: 5px;
  min-width: 200px;
  position: absolute;
  left: 20px;
  top: 100px;
  display: none;
}

.plans ul li{
  padding: 10px;
  list-style-type: none;
}

#d3{
  position: relative;
}

.about{
  border: 1px solid black;
  border-radius: 5px;
  min-width: 200px;
  position: absolute;
  left: 20px;
  top: 100px;
  display: none;
}

.about ul li{
  padding: 10px;
  list-style-type: none;
}

#d4{
  position: relative;
}

.help{
  border: 1px solid black;
  border-radius: 5px;
  min-width: 200px;
  position: absolute;
  left: 20px;
  top: 100px;
  display: none;
}

.help ul li{
  padding: 10px;
  list-style-type: none;
}

.active{
  display:block;
}
